*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgb(46, 46, 46);
    color: #eee;
    padding: 50px 150px;
}

body {
    background-color: #eee;
    font-family: Arial;
}

h1 {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 40px;
}

h2{
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    padding-bottom: 30px;
}

p {
    padding-bottom: 30px;
    line-height: 20px;
}


button {
    padding: 10px;
}


.container-flex {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    margin: 0 auto;
    padding: 10px;
} 



.section-flex {
    margin-top: 80px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .section-item {
    flex-basis: 25%;
    border: 1px solid black;
    padding: 30px;
    margin: 30px;
  }


 /* --------------------------------------------------------------------  */
 /* classi JS */
.darkMode {
    background-color: rgb(27, 27, 27);
    color: #eee;
    border: 1px solid #eee;
}

.darkMode .section-item {
     border: 1px solid #eee;
}

.lightMode  {
    background-color: blue;
}

/* --------------------------------------------------------------------  */
/* progressbar JS */

.progress  {
    padding: 80px;
    background-color:  rgb(46, 46, 46);
    text-align: center;
    color: white;
}

.progress button {
    margin: 30px auto;
}

#myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: blue;
  }
