*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 350px;
    text-align: center;
    background-color: rgb(22, 22, 22);
    color: #eee;
    padding: 80px;
    margin: 0 auto;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    padding-bottom: 50px;
}

body {
    background-color: #eee;
    font-family: Arial;
  }
  
button {
padding: 5px 10px;
background-color: ;
border: 2px solid navy;
border-radius: 4px;
cursor: pointer;
}
  
.input {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.childDiv {
    text-align: center;
    margin-top: 0 auto;    
}
  
footer{
    background-color: rgb(22, 22, 22);
    height: 200px;
    padding: 50px;
    text-align: center;
    color: #eee;
    margin-top: 50px;
}

/*---------------JS--------*/
.newLi {
color: blue;
font-weight: bold;
}