*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
}

main {
    width: 85%;
    margin: 30px auto;
}

hr{
    border: 0;
    background-color: #ccc;
    height: 1px;
    margin: 20px 0;
}


footer{
    margin-top: 20px;
    text-align: center;
}

.loading{
    color: #aaa;
    padding: 15px;
    border: 1px dashed black;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:  alternate;
}

    /* Animation */
    @keyframes pulse {
        from {
        opacity: 1;
        }
        to {
        opacity: 0.4;
        }

    }

    #add {
        padding: 10px;
        background-color: #eee;
        border: 1px solid #aaa;
        font-size: 16px;
        transition: all 0.3s ease;
    }

    #add:hover {
        cursor: pointer;
        background-color: cadetblue;
        color: #fff;
        border-color: cadetblue;
    }


    #create label{
        display: block;
        width: 300px;
        font-size: 14px;
    }

    #create input, 
    #create textarea{
        display: block;
        width: 100%;
    }

    #create .row{
        margin: 10px 0;
    }

    #create textarea {
    resize: vertical;
    }

    #create input {
        outline: none;
        border: 2px solid #ccc;
        transition: border 1s ease;
    }

    #create input:focus {
        border: 2px solid cadetblue;
        box-shadow: 0 0 3px cadetblue;
    }