*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial;
    color: navy;
}

header{
    background-color: navy;

}
h1, h2, h3 {
    font-weight: bold;
    text-align: center;
    padding: 30px;
    color: #eee;
}

form  {
    background-color: rgb(183, 183, 255);
    border: 1px solid navy;
    padding: 50px;
}

form div {
    border: 1px solid navy;
    padding: 20px;
    margin: 5px auto;
}


button {
    font-weight: bold;
    padding: 30px 200px;
    background-color: #fff;
    border: 2px solid navy;
    margin: 50px 0 100px 0;
    color: navy;
}


button:hover {
    background-color: rgb(183, 183, 255);
    border: 2px solid rgb(183, 183, 255);
    margin: 50px 0 100px 0;
    color: navy;
}

.divBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divForm label {
    border-radius: 50%;
    background-color: #eee;
    border-color: 1px solid navy;
    border-radius: 50%;
    cursor: pointer;
}